html, body{
    height: 100vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
}

.navbar{
    background: rgba(0,0,0,0.8);
    padding: 15px 10px;
    top: 0;
    width: 100vw;
  }

.container{
    /* height: 100%; */
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.header-title{
    font-family: 'Staatliches', cursive;
    text-align: center;
}

.footer{
    margin-top: auto;
}

.right-rotated {
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */
  }

.left-rotated{
    transform: rotate(-45deg); /* Equal to rotateZ(45deg) */
}

.guess-container{
    min-height: 350px;
}