body{
    height: 100vh;
    width: 100vw;
}

.body-container{
    margin: 0 auto;
    max-width: 500px;
    height: 100%;
}

#letterBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.hangman-blank{
    flex-grow:1;
    border: solid 1px black;
    margin: 3px;
    min-height: 45px;
    min-width: 25px;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 0px;
}

#hangmanCanvas{
    height: 250px;
    max-width: 100%;
    border:1px solid #000000;
}

#incorrectBox{
    text-align: center;
}